@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Exo Soft;
    font-weight: 100;
    src: url(../fonts/exo/1-thin.woff) format("woff");
  }
  @font-face {
    font-family: Exo Soft;
    font-weight: 200;
    src: url(../fonts/exo/2-extra_light.woff) format("woff");
  }
  @font-face {
    font-family: Exo Soft;
    font-weight: 300;
    src: url(../fonts/exo/3-light.woff) format("woff");
  }
  @font-face {
    font-family: Exo Soft;
    font-weight: 400;
    src: url(../fonts/exo/4-regular.woff) format("woff");
  }
  @font-face {
    font-family: Exo Soft;
    font-weight: 500;
    src: url(../fonts/exo/5-medium.woff) format("woff");
  }
  @font-face {
    font-family: Exo Soft;
    font-weight: 600;
    src: url(../fonts/exo/6-semibold.woff) format("woff");
  }
  @font-face {
    font-family: Exo Soft;
    font-weight: 700;
    src: url(../fonts/exo/7-bold.woff) format("woff");
  }
  @font-face {
    font-family: Exo Soft;
    font-weight: 800;
    src: url(../fonts/exo/8-extrabold.woff) format("woff");
  }
  @font-face {
    font-family: Exo Soft;
    font-weight: 900;
    src: url(../fonts/exo/9-black.woff) format("woff");
  }

  body {
    background-color: #0f151b;
  }
}
